/*@import "bootstrap/less/bootstrap.less";*/
/* gray background of the page */
/* Azul suave */
/* background of panels */
/* frame color of panels */
/* remove rounding in blocks */
/* primary buttons have blue background */
/* if the screen width is more then 992px, then the container width is 960px */
/* if the screen width is more 1200px, then the container width is 960px again */
/* main font is Tahoma */
/* base font size */
/* main color of text */
/* gray background of text fields */
/* gray frame of text fields */
/* gray color of the text in the fields */
/* altura del menú de navegación */
/* relleno adicional de los enlaces */
/* fondo de los elementos del menú */
/* color del texto en los enlaces del menú */
/* color del texto al pasar el ratón (igual que el normal) */
/* fondo del elemento activo del menú */
/* color del texto del elemento activo del menú */
/* fondo de los elementos del submenu */
/* borde de los elementos del submenu */
/* borde del panel primario (gris en lugar de azul) */
.wrapper {
  background-color: red !important;
}
/*


p {
    margin: 20px 0;
}

.form-control {
   box-shadow: none;
}

.btn {
    font-family: @brand-font;
}

body {

    background-color: red !important;
    background-image: none !important;
}

    .wrapper {
        padding: 0 0 50px 0;

         header {
            padding: 20px 0;
            .form-search {
                 width: 200px;
            }
         }
        .navbar a {
            text-transform: uppercase;   // convierte el texto a mayúsculas
            font: 14px @brand-font;      // aplica la fuente Oswald definida en variables.less
        }

        .heading {
            height: 40px;
            background: transparent url("../images/h1-bg.png");
            margin: 30px 0;
            padding-left: 20px;

            h1 {
                display: inline-block;
                color: #7e7e7e;
                font: normal 40px/40px 'Oswald', sans-serif;
                background: url("../images/bg.png");
                margin: 0;
                padding: 0 10px;
                text-transform: uppercase;
            }
        }

        .submenu {
              margin-bottom: 30px;

              li {
                display: list-item;
                font: 300 14px @brand-font;
                list-style-position: inside;
                list-style-type: square;
                padding: 10px;
                text-transform: uppercase;

                &.active {
                  color: @brand-primary;
                }

                a {
                  color: @text-color;
                  text-decoration: none;

                  &:hover {
                    color: @text-color;
                  }
                }
              }
        }

        .jumbotron {
              border-radius: 0;
              padding: 0;
              margin: 0;

              blockquote {
                border-left: none;
                p {
                  font: 300 italic 33px @brand-font;
                  text-transform: uppercase;
                  margin-bottom: 0;
                }
                small {
                  text-align: right;
                  color: #1D8EA6;
                  font: 300 20px @brand-font;
                  &:before {
                    content: '';
                  }
                }
              }
        }
        h2 {
              background: none repeat scroll 0 0 #29C5E6;
              color: #fff;
              font: 300 30px @brand-font;
              padding: 0 10px;
              text-transform: uppercase;
        }

        .team {
          .row {
            margin-top: 20px;

            .col {
              white-space: nowrap;

              .thumbnail {

                margin-bottom: 5px;
              }
            }

            .col-sm-offset-1 {
              margin-left: 3.7%;
            }

            .caption {
              h3 {
                font: 300 16px @brand-font;
                margin: 0;
              }
              p {
                font: 300 14px @brand-font;
                color: @brand-primary;
                margin: 0;
              }
            }
          }
        }

    }
    footer {
      background: #7e7e7e;
      color: #dbdbdb;
      font-size: 11px;
      overflow: hidden;

      .container {
        padding: 10px 0;

        h3 {
          border-bottom: 1px solid #919191;
          color: #ffffff;
          font-size: 14px;
          line-height: 21px;
          font-family: @brand-font;
          margin: 0 0 10px;
          text-transform: uppercase;
        }

        p {
          margin: 5px 0;
        }

        .twitter {
          p { padding-right: 15px; }
          time a {
            color: #b4aeae;
            text-decoration: underline;
          }
        }

        .sitemap a {
          display: block;
          font-size: 12px;
          margin-bottom: 5px;
          color: #dbdbdb;
        }

        .social {
          .social-icon {
            width: 30px;
            height: 30px;
            background: url(../images/social.png) no-repeat;
            display: inline-block;
            margin-right: 10px;
          }

          .social-icon-small {
            width: 28px;
            height: 32px;
            background: url(../images/social-small.png) no-repeat;
            display: inline-block;
            margin: 5px 6px 0 0;
            vertical-align: middle;
          }
          .twitter { background-position: 0 0; }
          .facebook { background-position: -30px 0; }
          .google-plus { background-position: -60px 0; }
          .vimeo     { background-position: 0px 0; }
          .youtube   { background-position: -28px 0; }
          .flickr    { background-position: -56px 0; }
          .instagram { background-position: -84px 0; }
          .rss       { background-position: -112px 0; }
        }

        .footer-logo {
          float: right;
          margin-top: 20px;
          font-size: 10px;
          text-align: right;

          a { text-decoration: underline; }
        }
      }
    }




.panel {
  box-shadow: none;

  .panel-heading {
    font: 14px @brand-font;
    text-transform: uppercase;
    padding: 10px;
  }

  .panel-body {
    padding: 10px;
  }
}

*/
